.meta {
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 4px;
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  justify-content: center;
  line-height: 1;
  min-width: 58px;
  padding: 0 6px;
}

.uppercase {
  letter-spacing: 0.01875em;
  text-transform: uppercase;
}
