.logo {
  composes: logo from 'videoCard.shared.scss';
  height: $video-card-logo-sm;
  width: $video-card-logo-sm;
}

.title {
  @include font-props(12, normal, regular);
  composes: title from 'videoCard.shared.scss';
}

.meta {
  composes: meta from 'videoCard.shared.scss';
  grid-gap: rem(5);
  grid-template-columns: repeat(2, max-content);
}
