/**
 * Shared videoCard styles.
 */

.logo {
  grid-area: logo;
}

.logo img {
  display: block;
  max-width: 100%;
}

.title {
  grid-area: title;
  margin: 0;
}

.meta {
  display: grid;
  grid-area: meta;
}
