/* stylelint-disable selector-max-specificity */

/**
 * Sets the basic keyword "pill" shape.
 */
@mixin keyword-pill {
  @include font-props(14, 14, medium);
  @include uppercase;
  background-color: var(--color-white);
  border: solid 1px var(--color-decoration);
  border-radius: rem(16);
  height: rem(32);
}

/**
 * Sets the selected keyword styles.
 */
@mixin keyword-selected {
  background-color: var(--color-theme-faded);
  border: solid 1px var(--color-theme);
}

/**
 * Sets keyword focus styles.
 */
@mixin keyword-focused {
  box-shadow: 0 0 1px 1px var(--color-theme);
}

/**
 * Styles a recommended keyword.
 */
.recommended {
  @include container-box-sizing;

  &:focus-within span {
    @include keyword-focused;
  }

  input {
    @include screen-reader-only;

    &:focus {
      outline: none;
    }

    &:checked + span {
      @include keyword-selected;
    }
  }

  span {
    @include keyword-pill;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    min-width: rem(120);
    padding: 0 rem(24);

    @media (min(md)) {
      min-width: rem(163);
    }
  }
}

/**
 * Styles a user-defined keywords.
 */
.user {
  @include keyword-pill;
  @include keyword-selected;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr rem(12);
  padding: 0 rem(16) 0 rem(8);

  &:focus-within {
    @include keyword-focused;
  }

  div {
    padding: 0 rem(26);
  }

  button {
    @include button-reset;
    cursor: pointer;
    height: rem(12);
    width: rem(12);

    &:focus {
      outline: none;
    }
  }
}
