.panel {
  padding: rem(4 20 22 20);
  position: relative;

  h3 {
    @include font-props(14, 16, medium);
    @include uppercase;
    background-color: var(--color-white);
    display: inline-block;
    margin: 0;
    padding: 0 rem(14) 0 rem(4);
    transform: translate(rem(16), rem(6));
  }

  h4 {
    @include font-props(16, 24, regular);
  }
}

.selector {
  border: 1px solid #DEDEDE;
  margin-bottom: rem(20);
  padding: rem(16);
}

/**
 * Styles for keywords lists, including the following components:
 *   - GeneratedList
 *   - UserList
 */

.keywords {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: rem(20);
}

.keyword {
  margin: 0;

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}
