/* stylelint-disable selector-max-specificity */
:global .edit-post-sidebar #oovvuu-sidebar-wrapper {
  // Reset inherited styles.

  h2,
  h3 {
    margin: 0;
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid $color-decoration;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(20);
  padding-bottom: rem(4);
}

// Specificity required.
h3.heading {
  @include font-props(16, 22, semibold);
  @include uppercase;
  color: $color-text-dark;
}

.listWrapper {
  position: relative;

  @include classic-editor-sidebar-only {
    max-height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
