.form {
  display: grid;
  grid-column-gap: rem(10);
  grid-template-columns: 1fr rem(36);
}

/* stylelint-disable selector-max-specificity */
:global(.edit-post-sidebar input[type=text]) {

  :local &.input {
    @include input-reset;
    @include panel-shadow;
    @include font-props(14, 24);
    border-radius: $border-radius;
    color: $color-text;
    font-family: $font-sans;
    height: rem(36);
    padding: 0 rem(16);
    width: 100%;

    &::placeholder {
      color: $color-gray-med;
    }
  }
}
/* stylelint-enable */

.submit {
  @include button-shape-styles;
  background-color: $color-theme;
  height: rem(36);
  width: rem(36);

  svg {
    fill: $color-white;
  }
}
