.form {
  align-items: center;
  display: grid;
  grid-column-gap: rem(10);
  grid-template-columns: 1fr rem(36);
}

.list {
  @include panel-shadow;
  align-items: center;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-sans;
  min-height: rem(40);
  padding: rem(4 6);
}

.input {

  &::placeholder {
    color: $color-gray-med;
  }
}

.submit {
  @include button-shape-styles;
  background-color: $color-theme;
  height: rem(36);
  width: rem(36);

  svg {
    fill: $color-white;
  }
}
