.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  &[aria-hidden="false"] {
    display: flex;
  }
}

.dialog {
  background-color: #F2F4F7;
  color: var(--color-text);
  font-family: 'Barlow', sans-serif;
  height: calc(100vh - rem(100));
  max-width: rem(1462);
  overflow: hidden;
  position: relative;
  width: calc(100vw - rem(40));
}

.header {
  align-items: center;
  background-color: var(--color-theme);
  color: var(--color-white);
  display: flex;
  height: rem(50);
  padding: 0 rem(15) 0 rem(8);
  position: sticky;
  top: 0;
  z-index: 10;
}

.oovvuuLogo,
.wpVipLogo {
  height: rem(30);

  svg {
    fill: var(--color-white);
    height: 100%;
    width: auto;
  }
}

.logoSeparator {
  @include font-props(16, 16);
  margin: 0 rem(5);
}

.container {
  height: 100%;
  overflow-y: scroll;
}

.content {
  padding: rem(55) rem(32) rem(32) rem(32);
}

.postTitle {
  @include font-props(29, 32, medium);
  display: flex;
  margin: 0 0 rem(40) 0; // Zeros out WP styles.

  > span {
    max-width: calc(100% - 400px);
  }
}

.saveButton {
  margin-left: auto;
}

.closeButton {
  @include button-reset;
  height: rem(16);
  margin-left: auto;
  width: rem(16);

  svg {
    fill: var(--color-white);
    height: auto;
    width: 100%;
  }
}
