.wrapper {
  display: none;
}

.isOpen {
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.dialog {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  max-width: calc(100vw - 40px);
  top: 40px;
  width: 800px;

  @media only screen and (max-width: 1024px) {
    width: 600px;
  }

  @media only screen and (max-width: 768px) {
    width: calc(100vw - 40px);
  }
}

.header,
.footer {
  align-items: center;
  background-color: #159d8f;
  color: white;
  display: flex;
  padding: 8px;
}

.oovvuuLogo,
.wpVipLogo {
  height: 30px;
}

.oovvuuLogo svg,
.wpVipLogo svg {
  fill: white;
  height: 100%;
  width: auto;
}

.logoSeparator {
  margin: 0 4px;
}

.footer {
  text-align: right;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.closeButton {
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  height: 15px;
  margin-left: auto;
  margin-right: 4px;
  padding: 0;
  width: 15px;

  svg {
    fill: white;
  }
}
