.toggle {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;

  &:focus-within {
    text-decoration: underline;
  }
}

.toggle label {
  align-items: center;
  display: flex;
}

.toggle input::before {
  background-color: rgba(18, 22, 27, 0.2);
  border-radius: 7px;
  content: '';
  display: block;
  height: 14px;
  left: 0;
  position: absolute;
  top: calc(50% - 7px);
  width: 34px;
  z-index: -1;
}

.toggle input {
  appearance: none;
  margin: 0;
  margin-left: 6px;
  outline: none;
  padding: 0;
  position: relative;
  width: 34px;
  z-index: 0;
}

.toggle {

  input::after {
    background-color: #e4e7eb;
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    transition: transform 150ms ease-in-out, color 150ms ease-in-out;
    width: 20px;
    z-index: 1;
  }

  // stylelint-disable-next-line selector-max-specificity
  input:checked::after {
    background-color: #159d8f;
    transform: translateX(20px);
  }

  // stylelint-disable-next-line selector-max-specificity
  input:checked::before {
    background-color: #159d8f;
    opacity: 0.5;
  }
}
