.inputItem {
  flex: 1 0 auto;
  height: rem(32);
  margin: $keyword-margin;
}

.input {
  @include input-reset;
  @include font-props(14, 14, medium);
  @include uppercase;
  height: 100%;
  width: 100%;

  &:focus {
    outline: none;
  }
}
