.wrapper {
  align-items: center;
  display: flex;
}

.addIcon {
  display: block;
  height: rem(19);
  margin: $keyword-margin;
  width: rem(19);

  svg {
    height: auto;
    width: 100%;
  }
}

.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
