/**
 * Base styles for global buttons.
 */
@mixin button-base {
  @include button-reset;

  span {
    @include button-flex-wrapper;
  }
}

/**
 * Base shape and text styles shared between buttons and links.
 */
@mixin button-shape-and-text-styles {
  @include button-text-styles;
  @include button-shape-styles;
}

/**
 * Base shape styles shared between buttons and links.
 */
@mixin button-shape-styles {
  border-radius: $border-radius;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

/**
 * Base text styles shared between buttons and links.
 */
@mixin button-text-styles {
  @include font-props(14, 14, medium);
  @include uppercase;
  background-color: white;
  color: $color-text-dark;
}

/**
 * Styles the button's inner flex wrapper.
 */
@mixin button-flex-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

/**
 * Transition and turn the inner icon when the button is expanded.
 */
@mixin spin-expanded-icon {

  svg {
    transition: transform 250ms ease-in-out;
  }

  &[aria-expanded="true"] {

    svg {
      transform: rotate(0.5turn);
    }
  }
}
