// Basic colors.
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-dark: #383838;

// Theme colors.
$color-theme: #159D8F;
$color-theme-faded: rgba($color-theme, 0.2);
$color-warn: #D32F2F;
$color-decoration: #E0E0E0;
$color-deactivated: #9E9E9E;

// Text
$color-text: $color-gray-dark;
$color-text-dark: #263238;

// Misc.
$border-radius: rem(4);
$keyword-margin: 0 rem(10) rem(10) 0;

/**
 * The shallow box-shadow.
 */
@mixin panel-shadow {
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
}

/**
 * The deep box-shadow.
 */
@mixin deep-shadow {
  box-shadow: 0 3px 6px 0 rgba(67, 90, 111, 0.3);
}
