@import '../../client/scss/global/base.scss';

.sidebar {
  padding: 16px;
}

:global(#oovvuu-sidebar-wrapper) { /* stylelint-disable-line selector-max-specificity */
  font-family: 'Barlow', sans-serif;
}

.topButtons {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 16px;

  button,
  a {

    span {
      align-items: center;
      display: flex;
      font-size: 13px;
      justify-content: center;

      svg {
        height: 20px;
        margin-right: rem(8);
        width: 20px;
      }
    }
  }

  button {

    path {
      fill: white;
    }
  }

  button,
  a {
    padding: 5px;
    width: auto;
  }

  a {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    text-decoration: none;
  }
}

:global(.edit-post-pinned-plugins button[aria-label="Oovvuu"]) {
  background-color: $color-theme;
}

/* stylelint-disable selector-max-specificity */
:global(.edit-post-pinned-plugins .components-button:not(.is-pressed) svg.oovvuu-small-logo),
:global(.edit-post-pinned-plugins .components-button:not(.is-pressed) svg.oovvuu-small-logo *) {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
