// Button classes.

/**
 * Basic action button.
 */
.buttonAction {
  @include button-base;
  @include button-shape-and-text-styles;
  padding: 0 rem(16);

  &[disabled] {
    background-color: $color-deactivated;
  }
}

/**
 * Button base.
 * Sets height and icon margin.
 */
.button {
  composes: buttonAction;
  height: rem(36);
  width: fit-content;

  svg {
    margin-right: rem(8);
  }
}

/**
 * Large button base.
 * Sets height and icon margin.
 */
.buttonLarge {
  composes: buttonAction;
  height: rem(48);

  svg {
    margin-right: rem(18);
  }
}

/**
 * Small button.
 */
.buttonSmall {
  @include button-base;
  @include button-shape-styles;
  @include font-props(12, 12, regular);
  @include uppercase;
  background-color: $color-theme;
  color: $color-white;
  height: rem(20);
  padding: 0 rem(5);

  &[disabled] {
    background-color: $color-deactivated;
  }

  svg {
    fill: $color-white;
    margin-right: rem(5);
  }
}

/**
 * Theme-colored button.
 */
.buttonTheme {
  background-color: $color-theme;
  color: $color-white;
}

/**
 * Confirmation or warning button.
 */
.buttonWarn {
  background-color: $color-warn;
  color: $color-white;
}

/**
 * Shared actionButton styles.
 */
.buttonTheme,
.buttonWarn {
  composes: button;

  svg {
    fill: $color-white;
  }
}

/**
 * Large confirmation or warning button.
 */
.buttonWarnLarge {
  background-color: $color-warn;
  color: $color-white;
  composes: buttonLarge;
}

/**
 * Section collapse button.
 */
.buttonCollapse {
  @include button-base;
  @include spin-expanded-icon;
  height: rem(24);

  svg {
    fill: $color-text;
    margin-left: rem(12);
  }
}

/**
 * Menubar popup button.
 */
.buttonPopup {
  @include button-base;
  @include spin-expanded-icon;
  height: rem(22);

  svg {
    fill: $color-text;
    margin-left: rem(12);
  }
}

/**
 * Clickable Icons.
 */
.buttonIcon {
  @include button-base;
}
