/**
 * Styles the user-added keyword "chips".
 */
.wrapper {
  @include font-props(14, 14, medium);
  align-items: center;
  background-color: rgba(21, 157, 143, 0.2);
  border: solid 1px var(--color-theme);
  border-radius: rem(16);
  color: var(--color-text);
  display: inline-flex;
  height: rem(32);
  line-height: 1;
  margin-right: rem(10);
  padding: rem(0 14 0 30);
  text-transform: uppercase;

  &:focus-within {
    box-shadow: 0 0 1px 1px var(--color-theme);
  }

  span {
    margin-right: rem(24);
  }

  button {
    @include button-reset;
    cursor: pointer;
    height: rem(12);
    width: rem(12);

    &:focus {
      outline: none;
    }
  }
}
