.wrapper {
  @include container-box-sizing;
  @include deep-shadow;
  background-color: $color-white;
  grid-column: 1 / span 2;
  justify-self: center;
  max-width: rem(400);
  padding: rem(35) rem(28) rem(20) rem(28);
  width: calc(100% - rem(40));
}

.notice {
  @include font-props(14, 14, medium);
  @include uppercase;
  background-color: $color-warn;
  border-radius: $border-radius;
  color: $color-white;
  margin: 0 0 rem(20) 0;
  padding: 0 rem(16);

  span {
    align-items: center;
    display: flex;
    height: rem(48);
  }

  svg {
    fill: white;
    margin-right: rem(18);
  }
}

.content {
  @include font-props(16, 24);
  margin: 0;
  text-align: center;
}
