/* stylelint-disable selector-max-specificity */

/**
 * Keywords and topics styles.
 */
.termList {
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0 rem(10) rem(10) 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

/**
 * Styles a recommended keyword.
 */
.recommendedTerm {
  @include container-box-sizing;

  &:focus-within span {
    @include term-focused;
  }

  input {
    @include screen-reader-only;

    &:focus {
      outline: none;
    }

    &:checked + span {
      @include term-selected;
    }
  }

  span {
    @include term-pill;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    min-width: rem(120);
    padding: 0 rem(24);

    @media (min(md)) {
      min-width: rem(163);
    }
  }

  .itemMeta {
    @include font-props(12, 12);
    align-items: center;
    border: solid 1px $color-decoration;
    border-radius: 50%;
    display: flex;
    height: rem(32);
    justify-content: center;
    overflow: hidden;
    transform: translateX(rem(24));
    width: rem(32);
  }

  .itemThumbnail {
    border-radius: 50%;
    height: rem(40);
    overflow: hidden;
    transform: translateX(rem(-24));
    width: rem(40);

    img {
      height: 100%;
    }
  }
}

/**
 * Styles a recommended topic.
 */
.topic {
  @include button-reset;
  @include container-box-sizing;

  &:focus {
    outline: none;

    div,
    span:last-of-type {
      border-color: $color-theme;
    }
  }

  div {
    @include term-pill;
    align-content: center;
    align-items: center;
    display: grid;
    grid-column-gap: rem(10);
    grid-template-columns: max-content 1fr max-content;
    min-width: rem(120);

    @media (min(md)) {
      min-width: rem(163);
    }
  }

  &.topicSelected {

    div {
      @include term-selected;
    }

    span:last-of-type {
      border: solid 1px $color-theme;
    }
  }

  img {
    border-radius: 50%;
    height: rem(40);
    left: -1px;
    object-fit: cover;
    object-position: center;
    position: relative;
    width: rem(40);
  }

  // Video count.
  span:last-child {
    @include font-props(12, 12);
    align-items: center;
    border: solid 1px $color-decoration;
    border-radius: 50%;
    display: flex;
    height: rem(32);
    justify-content: center;
    letter-spacing: -0.04px;
    padding: rem(3);
    position: relative;
    right: -1px;
    width: rem(32);
  }
}

/**
 * Basic panel styles.
 */
.panel {
  @include panel-shadow;
  background-color: $color-white;
  border-radius: $border-radius;
}

.panelWithHeading {
  composes: panel;
  padding: rem(4 20 22 20);
  z-index: 0;
}

.panelHeading {
  @include font-props(14, 16, medium);
  @include uppercase;
  background-color: $color-white;
  display: inline-block;
  margin: 0;
  padding: 0 rem(14) 0 rem(4);
  position: relative;
  transform: translate(rem(16), rem(6));
  z-index: 1;
}

.panelInset {
  border: 1px solid #DEDEDE;
  border-radius: $border-radius;
  padding: rem(16);
}
