/* stylelint-disable selector-max-specificity */

/**
 * Keywords and topics styles.
 */
.termList {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: rem(20);
  margin-top: 0;

  li {

    &:not(:last-of-type) {
      margin-right: rem(10);
    }
  }
}

/**
 * Styles a recommended keyword.
 */
.recommendedTerm {
  @include container-box-sizing;

  &:focus-within span {
    @include term-focused;
  }

  input {
    @include screen-reader-only;

    &:focus {
      outline: none;
    }

    &:checked + span {
      @include term-selected;
    }
  }

  span {
    @include term-pill;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    min-width: rem(120);
    padding: 0 rem(24);

    @media (min(md)) {
      min-width: rem(163);
    }
  }

  .itemMeta {
    @include font-props(12, 12);
    align-items: center;
    border: solid 1px var(--color-decoration);
    border-radius: 50%;
    display: flex;
    height: rem(32);
    justify-content: center;
    overflow: hidden;
    transform: translateX(rem(24));
    width: rem(32);
  }

  .itemThumbnail {
    border-radius: 50%;
    height: rem(40);
    overflow: hidden;
    transform: translateX(rem(-24));
    width: rem(40);

    img {
      height: 100%;
    }
  }
}

/**
 * Styles a recommended topic.
 */
.topic {
  @include container-box-sizing;

  &:focus-within > span {
    @include term-focused;
  }

  input {
    @include screen-reader-only;

    &:focus {
      outline: none;
    }

    &:checked + span {
      @include term-selected;

      .itemMeta {
        border: solid 1px var(--color-theme);
      }
    }
  }

  > span {
    @include term-pill;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    min-width: rem(120);

    @media (min(md)) {
      min-width: rem(163);
    }
  }

  .itemMeta,
  .itemThumbnail {
    border-radius: 50%;
  }

  .itemMeta {
    @include font-props(12, 12);
    align-items: center;
    border: solid 1px var(--color-decoration);
    display: flex;
    height: rem(32);
    justify-content: center;
    letter-spacing: -0.04px;
    padding: rem(3);
    position: relative;
    right: -1px;
    width: rem(32);
  }

  .itemKeyword {
    padding: 0 rem(10);
  }

  .itemThumbnail {
    height: rem(40);
    left: -1px;
    overflow: hidden;
    position: relative;
    width: rem(40);

    img {
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
    }
  }
}

/**
 * Basic panel styles.
 */
.panel {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: rem(4 20 22 20);
}

.panelHeading {
  @include font-props(14, 16, medium);
  @include uppercase;
  background-color: var(--color-white);
  display: inline-block;
  margin: 0;
  padding: 0 rem(14) 0 rem(4);
  transform: translate(rem(16), rem(6));
}

.panelInset {
  border: 1px solid #DEDEDE;
  border-radius: var(--border-radius);
  margin-bottom: rem(20);
  padding: rem(16);
}
