.meta {
  @include uppercase;
  @include font-props(12, 12, medium);
  align-items: center;
  background-color: var(--color-decoration);
  border-radius: var(--border-radius);
  display: inline-flex;
  height: rem(20);
  justify-content: center;
  line-height: 1;
  min-width: rem(58);
  padding: 0 rem(10);
}

.embed {
  background-color: #B0C738;
  color: white;

  @media (min(450)) {
    grid-column: 1 / span 2;
  }

  @media (min(500)) {
    grid-column: auto;
  }

  svg {
    margin-right: rem(6);
  }
}
