.wrapper[draggable="true"] {
  cursor: grab;
}

.inner {
  @include deep-shadow;
  display: grid;
  grid-gap: rem(10) rem(20);
  grid-template-areas:
    'logo logo'
    'title title'
    'meta meta'
    'description description';
  grid-template-columns: $video-card-logo-lg 1fr;
  padding: rem(10) rem(26) rem(10) rem(10);
  position: relative;

  @media (min(lg)) {
    grid-template-areas:
      'logo title'
      'logo meta'
      'logo description';
  }
}

.removeVideo {
  cursor: pointer;
  position: absolute;
  right: rem(3);
  top: rem(3);

  svg {
    background: transparent;
  }
}

.isDropTarget {
  background-color: $color-decoration;
}
