.wrapper {
  @include deep-shadow;
  border-radius: 0 0 $border-radius $border-radius;
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
  }
}

.inner {
  display: grid;
  grid-gap: rem(10);
  grid-template-areas:
    'meta meta'
    'logo title'
    '. button';
  grid-template-columns: $video-card-logo-sm 1fr;
  padding: rem(6) rem(6) rem(9) rem(9);
  position: relative;
}

.addButton {
  --oovvuu-color-add-icon-fill: #{$color-white};
  grid-area: button;
  margin-left: auto;
}
